@model IEnumerable<Webapp.Models.Property>

@{
    ViewData["Title"] = "Index";
}

<body>
    <header>
        <nav class = "navbar"> 
        <a asp-area="" asp-controller="Home" asp-action="Index">HOME</a>
        <a asp-area="" asp-controller="Properties" asp-action="Create">ADMIN</a>
        <a asp-area="" asp-controller="Home" asp-action="Privacy">PRIVACY</a>
        <div class="links">
            <button><a asp-area="Identity"  asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a></button>
            <form asp-area="Identity"  asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button  type="submit">Logout</button>
            </form>
        </div>
    </header>
    <hr>
<div class="container mt-4">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    @if(item.ImageData != null && item.ImageData.Length > 0)
                    {
                        <img src="data:image/png;base64,@Convert.ToBase64String(item.ImageData)" class="pic"  alt="Property Image">
                    }
                    else{
                        <div class="alert alert-danger" role="alert">
                            Image data is null or empty
                        </div>
                    }
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.PropertyName)</h5>
                        <p class="card-text">Bathrooms: @Html.DisplayFor(modelItem => item.NumberOfBathrooms) Bathrooms</p>
                        <p class="card-text">Bedrooms: @Html.DisplayFor(modelItem => item.NumberOfBedrooms) Bedrooms</p>
                        <p class="card-text">Description: @Html.DisplayFor(modelItem => item.Description)</p>
                        <p class="card-text">Square Footage: @Html.DisplayFor(modelItem => item.SquareFootage) sqemeter</p>
                        <a asp-action="Details" asp-route-id="@item.PropertyId">View Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
</body>
    @* <div class="mycards">
        <div class="Cards">
            <div class = "Card">
                <img src="@Url.Content("~/Image/Pic01.jpeg")" class="pic" alt="">
            </div>
            <div class = "Card">
                <img src="@Url.Content("~/Image/Pic07.jpeg")" class="pic" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit, asperiores ab debitis voluptate accusantium ea vitae quibusdam dignissimos eaque laboriosam earum, inventore quam quaerat nostrum doloribus corporis. Ducimus, qui quae!</p>
            </div>
            <div class = "Card">
                <img src="@Url.Content("~/Image/Pic03.jpeg")" class="pic" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa voluptates rerum maiores repudiandae nostrum error voluptatum porro! Eos voluptatum dolore placeat tenetur quae aperiam, tempora perferendis rerum unde. Nam, porro.</p>
            </div>
        </div>
            <div class="Cards2">
                <div class = "Card">
                    <img src="@Url.Content("~/Image/Pic04.jpeg")" class="pic" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa voluptates rerum maiores repudiandae nostrum error voluptatum porro! Eos voluptatum dolore placeat tenetur quae aperiam, tempora perferendis rerum unde. Nam, porro.</p>
                </div>
                <div class = "Card">
                    <img src="@Url.Content("~/Image/Pic05.jpeg")" class="pic" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa voluptates rerum maiores repudiandae nostrum error voluptatum porro! Eos voluptatum dolore placeat tenetur quae aperiam, tempora perferendis rerum unde. Nam, porro.</p>
                </div>
                <div class = "Card">
                    <img src="@Url.Content("~/Image/Pic06.jpeg")" class="pic" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa voluptates rerum maiores repudiandae nostrum error voluptatum porro! Eos voluptatum dolore placeat tenetur quae aperiam, tempora perferendis rerum unde. Nam, porro.</p>
                </div>
            </div>
    </div> *@